@import 'reset.css';

body {
    width: 144.5rem;
    height: 160.3rem;
    font-family: 'Oswald', sans-serif;
}
header {
    display: flex;
    width: 144rem;
    height: 9rem;
    align-items: center;
    border-bottom: solid 1px #ebebeb;
}

nav > ul > li {
    cursor: pointer;
}

.Logo {
    width: 5.5rem;
    height: 3rem;
}

#hamburgerMenu {
    width: 2.7rem;
    height: 1.6rem;
}

header > .logoAndNav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 92.3rem;
    gap: 5.8rem;
    margin-right: 41.2rem;
    margin-left: 3.8rem;
    color: #1d1f24;
}

#headerNav > ul {
    display: flex;
    width: 80.5rem;
    justify-content: space-between;
    opacity: 0.2;
    font-size: 1.4rem;
}

main {
    display: flex;
    gap: 3.2rem;
    width: 144.5rem;
    height: 135.3rem;
    margin: 4rem 4rem 12rem 4rem;
}

/* 메인에 있는 카드 크기 */

.mainBigCard {
    width: 101.2rem;
    height: 58.1rem;
}

.secondBigCard {
    width: 66.4rem;
    height: 27.4rem;
}

.thirdBigCards {
    width: 31.6rem;
    height: 27.4rem;
}

#mainSection {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
}

#mainSection2 {
    display: flex;
    width: 101.2rem;
    justify-content: space-between;
}

/* 순위부분 */
#FeaturedStories {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 31.7rem;
    height: 58rem;
    font-size: 1.4rem;
    border: 1px solid #f2f3f6;
}

#FeaturedStories > h1 {
    margin-left: 2.7rem;
    margin-top: 3.5rem;
}

.StoriesList {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
}

.StoriesList > li {
    display: flex;
    width: 31.6rem;
    height: 8.3rem;
    font-size: 1.8rem;
    gap: 2.6rem;
    border-bottom: solid 1px #f2f3f6;
}

.StoriesList > li > h2 {
    color: #1d1f24;
    opacity: 0.2;
}

.StoriesList > li > p {
    width: 22.7rem;
    height: 5.2rem;
}

/* 카드부분 */
#ThreeCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3.2rem;
}

#smallthings {
    display: flex;
    width: 66.4rem;
    justify-content: space-between;
}

/* aside 부분 */
aside {
    display: flex;
    flex-direction: column;
    height: 119.8rem;
    width: 31.6rem;
    justify-content: space-between;
}

#redone {
    display: flex;
    flex-direction: column;
    width: 31.6rem;
    height: 58.1rem;
    background-color: #ff565c;
    color: white;
    justify-content: space-evenly;
    align-items: center;
}

#title {
    width: 26.3rem;
    height: 24.5rem;
    font-size: 3.2rem;
    line-height: 4.9rem;
    letter-spacing: -0.047rem;
    text-transform: uppercase;
}

#mainText {
    font-family: 'Lato', sans-serif;
    font-size: 1.8rem;
    line-height: 3rem;
    width: 25.2rem;
    height: 15rem;
}

#readMore {
    width: 21rem;
    height: 6rem;
    font-family: 'Oswald', sans-serif;
    font-size: 1.6rem;
    letter-spacing: 0.08rem;
    text-transform: uppercase;
    background-color: #ff565c;
    margin-top: 3rem;
    color: white;
    border-top: 1px solid rgba(255, 255, 255, 0.3);
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);
    border-bottom: 2px solid white;
}

/* footer */
footer {
    display: flex;
    background-color: #1d1f24;
    justify-content: space-evenly;
    align-items: center;
    width: 144rem;
    height: 16rem;
}

#footerLogo {
    display: flex;
    flex-direction: column;
    color: white;
    line-height: 1.8rem;
    gap: 0.6rem;
}

#footerText {
    width: 19.5rem;
    height: 3.6rem;
}

#footerNav {
    color: white;
    font-size: 1.4rem;
    letter-spacing: 1.75px;
    width: 65.7rem;
    height: 5.4rem;
}

#footerNav > ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#footerNav > ul > li {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    gap: 1.2rem;
}

#socialThings {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    align-items: flex-end;
}

#social {
    width: 19.4rem;
    height: 2.2rem;
}

#email {
    width: 30rem;
    height: 3.5rem;
}
